.content-px {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  @media (max-width: 767.98px) {
    padding: 0rem;
  }
}

.special-gallery {
  position: relative;
  z-index: 3;
  max-width: 400px;
}

.bg-gallery {
  opacity: 1;
}

.img-container {
  position: relative;
  margin-left: auto;
  display: block;
  width: 430px;
  height: 630px;
  @media (max-width: 1090px) {
    margin-right: auto;
  }
  @media (max-width: 575.98px) {
    width: 100%;
    height: auto;
  }
}

.img-gradient {
  position: absolute;
  z-index: 1;
  height: 450px;
  width: 400px;
  top: 180px;
  left: 30px;
  background-color: #adb5c7;
  @media (max-width: 767.98px) {
    display: none;
  }
}
