:root {
  --primaryText: #070707;
  --secondaryText: #606569;
  --primary: #fab1a0;
  --secondary: #16a085;
  --bgWhite: #f1f2f0;
  --white: #fefefe;
}

body {
  background-color: var(--bgWhite);
}

h1 {
  font-family: "Julius Sans One", sans-serif;
}

p {
  font-family: "Crimson Text", serif;
}

header {
  background-color: var(--primaryText);
  height: 100px;
}

nav {
  height: 100px;
}

.navbar-brand {
  color: var(--white);
}

.navbar-nav .nav-item .nav-link {
  color: var(--white);
  font-weight: 600;
  transition: color 0.3s;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
}

.nav-link:hover {
  color: var(--bgWhite);
}

.btn {
  font-family: "Julius Sans One", sans-serif;
}

a {
  font-family: "Crimson Text", serif;
}

.btn-primary {
  background-color: var(--primary);
  color: var(--primaryText);
  border: none;
}
